*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* REGOLE RIUTILIZZABILI */
.margin_default{
  margin: 0 200px;
}
.clear:after{
  content: "";
  display: table;
  clear: both;
}
.button{
  display: inline-block;
  border-radius: 5px;
  border: none;
  padding:10px 15px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.float_left{
  float: left;
}
/* PROPRIETA DELL'HEADER */
header{
  background-color: #0C325A;
}
.navbar{
  height:80px;
}
.navbar ul{
  list-style: none;
}
.navbar li{
  display: inline-block;
  line-height: 80px;
  padding: 0 15px;
}
.navbar a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.navbar li{
    cursor: pointer;
}
.navbar li:hover a{
  color:#f8b71c;
}

.nav_left{}
.nav_left img{
  vertical-align: middle;
}
.nav_right{
  float: right;
}
.bkg_green_header{
  background-color: #7BBC00;
}
.no_bkg_header{
  background: none;
  border: 1px solid #4e8cb6;
}
.navbar button{
  cursor: pointer;
}
/* proprietà del display */
.display{
  position: relative;
  height:500px;
  background-image: url(../img/oldman.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 110% 100%;
}
.text_display{
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.text_display > h1{
  font-size: 60px;
  line-height: 90px;
  color: #fff;
}
.bkg_green_display{
  background-color: #7BBC00;
  padding: 20px;
  margin-top: 40px;
}
/* /PROPRIETA HEADER */


/* PROPRIETA DEL MAIN */
.banner{
  position: relative;
  height:200px;
  background-color: #D3D3D3;
}
.title_banner{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.title_banner > h2{
  font-size: 30px;
}
.title_banner > h3{
  margin-top: 50px;
  font-size: 20px;
  color:#8B8B8B;
}
/* fine banner */

.maintop{
  height: 500px;
}
.maintop_left{
  width: 33%;
}
.maintop_center{
  width: 33%;
}
.maintop_right{
  width: 33%;
}
/* Separazione main */
.hr_main{
  color:#D3D3D3;
}
/* separazione main */
.mainbottom{
  height: 500px;
  background-color: lime;
}
